html {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: inherit;

	&:hover {
		color: #000;
	}

	&.active {
		color: #000;
	}
}

body {
	background-color: #ccc;
	color: #333;
}

#root {
	min-height: 100vh;
}

.container {
	padding: 0 1rem;
}

@media (min-width: 50rem) {
	.container {
		padding: 0 2rem;
	}
}
