---
---

<div id="top-bar">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-12 col-md-auto">
				<ul id="top-social">
					<li><a href="#" class="h-bg-facebook"><span class="ts-icon"><i class="fa-brands fa-facebook-f"></i></span><span class="ts-text">Facebook</span></a></li>
					<li><a href="#" class="h-bg-twitter"><span class="ts-icon"><i class="fa-brands fa-twitter"></i></span><span class="ts-text">Twitter</span></a></li>
					<li><a href="#" class="h-bg-dribbble"><span class="ts-icon"><i class="fa-brands fa-dribbble"></i></span><span class="ts-text">Dribbble</span></a></li>
					<li><a href="#" class="h-bg-github"><span class="ts-icon"><i class="fa-brands fa-github"></i></span><span class="ts-text">Github</span></a></li>
					<li><a href="#" class="h-bg-pinterest"><span class="ts-icon"><i class="fa-brands fa-pinterest-p"></i></span><span class="ts-text">Pinterest</span></a></li>
					<li><a href="#" class="h-bg-instagram"><span class="ts-icon"><i class="fa-brands fa-instagram"></i></span><span class="ts-text">Instagram</span></a></li>
				</ul>
			</div>

			<div class="col-12 col-md-auto">
				<div class="top-links">
					<ul class="top-links-container">
						<li class="top-links-item"><a href="#">Locations</a>
							<ul class="top-links-sub-menu">
								<li class="top-links-item"><a href="#">San Francisco</a></li>
								<li class="top-links-item"><a href="#">London</a></li>
								<li class="top-links-item"><a href="#">Amsterdam</a></li>
							</ul>
						</li>
						<li class="top-links-item"><a href="faqs.html">FAQs</a></li>
						<li class="top-links-item"><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<header id="header" class="header-size-sm" data-sticky-shrink="false">
	<div class="container">
		<div class="header-row">
			<div id="logo" class="ms-auto ms-lg-0 me-lg-auto">
				<a href="demo-construction.html">
					<img class="logo-default" srcset="/images/logo.png, /images/logo@2x.png 2x" src="/images/logo@2x.png" alt="Canvas Logo">
				</a>
			</div>
			<div class="header-misc d-none d-lg-flex">
				<ul class="header-extras">
					<li>
						<i class="i-plain bi-telephone m-0"></i>
						<div class="he-text">
							Call Us
							<span>(1) 22 54215821</span>
						</div>
					</li>
					<li>
						<i class="i-plain bi-envelope m-0"></i>
						<div class="he-text">
							Email Us
							<span>info@canvas.com</span>
						</div>
					</li>
					<li>
						<i class="i-plain bi-clock m-0"></i>
						<div class="he-text">
							We'are Open
							<span>Mon - Sat, 10AM to 6PM</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div id="header-wrap">
		<div class="container">
			<div class="header-row justify-content-between flex-row-reverse flex-lg-row justify-content-lg-center">
				<div class="header-misc">
					<div id="top-search" class="header-misc-icon">
						<a href="#" id="top-search-trigger"><i class="uil uil-search"></i><i class="bi-x-lg"></i></a>
					</div>
				</div>

				<div class="primary-menu-trigger">
					<button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
						<span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
					</button>
				</div>

				<nav class="primary-menu with-arrows">
					<ul class="menu-container">
						<li class="menu-item current"><a class="menu-link" href="demo-construction.html"><div>Home</div></a></li>
						<li class="menu-item"><a class="menu-link" href="demo-construction-services.html"><div>What we do</div></a>
							<ul class="sub-menu-container">
								<li class="menu-item"><a class="menu-link" href="#"><div>Housing Management</div></a></li>
								<li class="menu-item"><a class="menu-link" href="#"><div>Construction Planning</div></a></li>
								<li class="menu-item"><a class="menu-link" href="#"><div>Green Homes</div></a></li>
								<li class="menu-item"><a class="menu-link" href="#"><div>Architecture Design</div></a></li>
								<li class="menu-item"><a class="menu-link" href="#"><div>Interior Planning</div></a></li>
							</ul>
						</li>
						<li class="menu-item"><a class="menu-link" href="demo-construction-about-us.html"><div>About Us</div></a></li>
						<li class="menu-item"><a class="menu-link" href="demo-construction-projects.html"><div>Projects</div></a>
							<ul class="sub-menu-container">
								<li class="menu-item"><a class="menu-link" href="demo-construction-projects-2.html"><div>2 Columns</div></a></li>
								<li class="menu-item"><a class="menu-link" href="demo-construction-projects-3.html"><div>3 Columns</div></a></li>
								<li class="menu-item"><a class="menu-link" href="demo-construction-projects.html"><div>4 Columns</div></a></li>
								<li class="menu-item"><a class="menu-link" href="demo-construction-projects-5.html"><div>5 Columns</div></a></li>
							</ul>
						</li>
						<li class="menu-item"><a class="menu-link" href="demo-construction-investors.html"><div>Investors</div></a></li>
						<li class="menu-item"><a class="menu-link" href="demo-construction-blog.html"><div>News</div></a></li>
						<li class="menu-item"><a class="menu-link" href="demo-construction-careers.html"><div>Careers</div></a></li>
						<li class="menu-item"><a class="menu-link" href="demo-construction-contact.html"><div>Contact</div></a></li>
					</ul>

				</nav>

				<form class="top-search-form" action="search.html" method="get">
					<input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.." autocomplete="off">
				</form>
			</div>
		</div>
	</div>
	<div class="header-wrap-clone"></div>
</header>
